// Couleurs principal
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Padding de base
$appPadding: 1rem;

// Couleurs dégradé 
$color-gradient: linear-gradient($color-secondary,$color-primary);

